%default-transition {
    transition: all $transition-default;
}

.js {
    .js-loaded,
    .js-slider-img {
        @extend %default-transition;
        opacity: 0;
        &.is-loaded {
            opacity: 1;
        }
    }
    .js-img-slide-fade {
        @extend %default-transition;
        opacity: 0;
        transform: translateX(-5%);
        &.is-loaded {
            opacity: 1;
            transform: translateX(0%);
        }
    }
    .js-slide-fade-top {
        @extend %default-transition;
        opacity: 0;
        transform: translateY(-5%);
        &.is-loaded {
            opacity: 1;
            transform: translateY(0%);
        }
    }
}

.js-in {
    opacity: 1;
}
