.site--work {
  padding: 80px 0;
  position: relative;
  margin-bottom: 250px;
  background: @gray-lighter;

    &:after {
      left:0;
      width:100%;
      bottom:-20px;
      content: " ";
      display:block;
      position:absolute;
      border-style: solid;
      border-width: 0 100vw 20px 0;
      border-color: transparent @gray-lighter transparent transparent;
    }

    .project {
      opacity: 0;
      color: @white;
      display: block;
      overflow: hidden;
      background: @black;
      margin: 20px 0 120px;
      transition: all .5s ease;
      transform: translate(0px, 40px);

        &.in-viewport {
          opacity: 1;
          transform: translate(40px, 0px);
        }

        .project--block {
          padding: 20px;
          background: @black;
          padding-top: 56.5%;
          position: relative;

          &:before {
            right: 0;
            bottom: 0;
            opacity: 0;
            content: "";
            left: -100%;
            z-index: 500;
            display: block;
            background: @black;
            position: absolute;
            transform: skewY(1deg);
            transition: all .5s ease;
            transform-origin: 0 100% 0;
            height: calc(~"45% - 40px");
          }

          .project--title {
            top: 40px;
            right: 40px;
            color: @white;
            position: absolute;
          }

          .project--teaser {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: .25;
            display: block;
            position: absolute;
            transition: transform .5s ease;
          }

          .project--brief {
            width: 66%;
            left: 40px;
            opacity: 0;
            bottom: 40px;
            font-size: 18px;
            position: absolute;
            transform: translateY(20px);
            z-index: (@zindex-base * 2);
            transition: all .35s ease;
          }


        }

      &.in-viewport {
        transform: translate(30px, 0px);

        &:nth-of-type(even){
          transform: translate(-30px, 0px);
        }
      }

      &:nth-of-type(even){
          .project--block {
            &:before {
              transform: skewY(-1deg);
              transform-origin: 100% 0;
            }

              .project--title {
                left: 40px;
                right: auto;
              }

              .project--brief {
                left: auto;
                right: 40px;
              }
          }

      }

      &:last-of-type { margin-bottom: 20px; }

      &:hover {
        text-decoration: none;

          .project--block {
            &:before {
              height: 45%;
              opacity: .85;
            }

            .project--teaser {
              transform: scale(1.1);
            }

            .project--brief {
              opacity: 1;
              transform: translateY(0px);
              transition-delay: .25s;
            }
          }
      }


      @media @tablet-sml, @mobile-lg {
        &.in-viewport {
          transform: translate(20px, 0px);
            &:nth-of-type(even){ transform: translate(-20px, 0px); }
        }
      }

      @media @mobile-sml {
        &.in-viewport {
          transform: translate(0px, 0px);
            &:nth-of-type(even){ transform: translate(0px, 0px); }
        }

        .project--block {
          .project--brief {
            width: auto;
            left: 20px;
            right: 20px;
          }
        }
      }
    }
}
