.site--hero {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 230px 0;
  position: relative;
  background: @black;

    .bg-layer-1,
    .bg-layer-2,
    .bg-layer-3 {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 50;
      opacity: .40;
      position: absolute;
      background: url(../img/svg/syntax-pattern.svg) 0 0 repeat;
      background-size: 820px auto;
      transition: all .15s ease;
    }
    .bg-layer-2 {
      z-index: 150;
      opacity: .25;
      background-size: 1230px auto;
      background-position: 300px 0;
    }
    .bg-layer-3 {
      z-index: 250;
      opacity: .10;
      background-size: 1640px auto;
      background-position: -240px 0;
    }

    .container { z-index: @zindex-base; }

    .site--hero-intro {
      width:  570px;
      max-width: 100%;

        .main-headline,
        .sub-headline { color: @white; }

        .main-headline {
          font-size: 68px;
          margin-bottom: 40px;
          text-transform: lowercase;
        }
        .sub-headline {
          font-size: 24px;
        }
    }

    @media @mobile-all {
      .site--hero-intro {
        .main-headline { font-size: 32px; }
        .sub-headline { font-size: 16px; }
      }
    }
}
