/*

  Variables

*/



// BREAKPOINTS

$bp-xs              : 480px  ;
$bp-wp-sm           : 599px  ;
$bp-sm              : 640px  ;
$bp-tablet-portrait : 768px  ;
$bp-md              : 800px  ;
$bp-lg              : 1020px ;
$bp-xl              : 1200px ;

$bp-array           : '{"xs": "#{$bp-xs}", "sm": "#{$bp-sm}", "md": "#{$bp-md}", "lg": "#{$bp-lg}" ,"xl": "#{$bp-xl}"}';

// Main breakpoint, usually the point where we change from 'mobile' to 'desktop'
// (ie. change from collapsible menu to normal menu)
$main-breakpoint    : $bp-lg;

$sticky-breakpoint  : $bp-md; // Breakpoint for the sticky nav
$hero-breakpoint    : $bp-sm; // Breakpoint to bump up font size in hero units


/* 
  Breakpoints (Additional)
  
  - About:
    This variable is used in:
    ~/abstractions/widths.scss 
    ~/components/grid-flex.scss
    Modify carefully as it will affect all grid layouts!

  - Considerations:
    Breakpoint order is important, originally these were reversed
    and since we're taking a mobile-first approach, the breakpoints
    were not cascading correctly. E.g. smaller sized breakpoint styles
    were overriting the larger breakpoints, etc.
*/

$breakpoints    : (sm: $bp-sm, md: $bp-md, lg: $bp-lg, xl: $bp-xl);

/* -------------------------------------- */


// COLORS
$pink         : #cd7bc4;
$blue         : #4ca1e0;
$orange       : #e4621c;
$green        : #89e072;
$red          : #ff5252;
$yellow       : #fac035;
$gray         : #abb2bf;
$gray-dark    : #5a616e;
$about-gray   : #e5eaf6;
$footer-copy  : #d9e0ef;
$footer-gray  : #c2c9d8;
$black        : #252525;
$white        : #f5f5f5;


$lighter-grey : #f0f0f0;
$light-grey   : #ddd;
$grey         : #999;
$dark-grey    : #454545;
$darker-grey  : #222222;


// And assign them to the default variables
// This way you give a logic to the colors you are using

$color-primary        : $white;
$color-secondary      : $black;

$body-color           : $dark-grey;
$brand-color          : $color-primary;
$headings-color       : $body-color; // or could be brand-color or whatever, but make sure you are using a variable

/* -------------------------------------- */


// TYPOGRAPHY

// Set your font stacks
$base-font-family    : 'objective', helvetica, arial, sans-serif;

$heading-font-family :  $base-font-family;
$body-font-family    :  $base-font-family;

$base-font-size     : 18px;
$base-line-height   : 30px;

// Currently using 'Major Third' scale (1.25)
$hero-font-size      : 65px;
$hero-line-height    : 65px;

$h1-font-size        : 32px;
$h1-line-height      : 40px;

$h2-font-size        : 24px;
$h2-line-height      : 30px;

$h3-font-size        : 20px;
$h3-line-height      : 30px;

$h4-font-size        : $base-font-size  ;
$h4-line-height      : $base-line-height;

$h5-font-size        : 14px;
$h5-line-height      : 20px;

$h6-font-size        : 12px;
$h6-line-height      : 18px;

$small-font-size     : $h5-font-size;




/* -------------------------------------- */



// SPACING
// Global spacing and measurement variables

$zindex-base              : 500;

// Set consistent vertical and horizontal spacing units.
$base-spacing-unit        : $base-line-height/$base-font-size * 1rem;
$article-spacing-unit     : $base-spacing-unit * 4;

$vert-spacing-unit        : $base-spacing-unit;
$horz-spacing-unit        : $base-spacing-unit;

$base-border-radius       : 5px;

$grid-gutter              : $base-spacing-unit;
$fluid-grid-gutter        : 5%;

$container-pad            : $base-spacing-unit;
$container-max            : 1200px;
$container-small-max      : 800px;
$container-xs-max         : 500px;

$card-featured            : 1170px;

$btn-line-height          : $base-line-height/$base-font-size;
$btn-small-padding        : .2em;
$btn-default-padding      : .4em;
$btn-large-padding        : .8em;

$button-toggle-padding    : .5em;
$button-toggle-width      : 2.5rem;
$icon-bar-width           : 25px;  // Icon Bar Dimensions are better off in fixed pixel sizing
$icon-bar-height          : 3px;   //
$icon-bar-spacing         : $icon-bar-height;

$label-margin             : .5em;
$form-control-padding     : 5px;
$base-input-height        : 2.5rem;

$offcanvas-width          : 250px;

$island-padding-y         : $vert-spacing-unit;
$island-padding-x         : $horz-spacing-unit;

$section-spacing-unit     : $base-spacing-unit*3;

$logo-width           : 5rem;

/* -------------------------------------- */

// ANIMATION

$transition-time-fast      : .15s;
$transition-time-default   : .3s ;
$transition-time-slow      : .6s;
$transition-timing-default : ease-out;
$transition-slow           : $transition-time-slow $transition-timing-default;
$transition-default        : $transition-time-default $transition-timing-default;
$transition-fast           : $transition-time-fast $transition-timing-default;

/* -------------------------------------- */

// GRID (Flex)
$base-class     : "";
$gutter-thin    : $base-spacing-unit * .4;  // 20px gutter
$gutter-medium  : $base-spacing-unit * .6;  // 30px gutter
$gutter-norm    : $base-spacing-unit * .8;  // 40px gutter
$gutter-wide    : $base-spacing-unit *  1;  // 50px gutter