@import "base/normalize.less";
@import "base/variables.less";
@import "base/mixins.less";
@import "base/fonts.less";
@import "base/global.less";

@import "structure/flexboxgrid.less";
@import "structure/site-header.less";
@import "structure/site-footer.less";
@import "structure/site-content.less";
@import "structure/site-hero.less";
@import "structure/site-about.less";
@import "structure/site-work.less";

.container {
  width: 100%;
  .center-block;
  max-width: 1040px;
  padding: 0px 20px;
  position: relative;

    &.slim {
      padding: 0 10px;
      max-width: 800px;
      border-bottom: none;
      border-top: none;
    }
}//.container

.site-content {
  background: @white;
  position: relative;
  z-index: @zindex-base;
}
