* { .box-sizing(border-box); }

body{
  color: @black;
	background: @white;
	font: normal @font-size-base/@line-height @font-family-base;
}

img{ max-width: 100%; }
p { margin: 0 0 @padding-base 0; }
pre, code, blockquote { padding: @padding-large; }
