%island, .island,
%islet, .islet {
    display: block;
    @extend %cf;
    // add this class to the clearfix class
    // one line of margin after
    & > :last-child,
    & > :last-child {
        margin-bottom: 0;
    }
}

%island, .island  {
    padding: $island-padding-y $island-padding-x;
}

%islet, .islet {
    padding: ($island-padding-y / 2) ($island-padding-x / 2);
}

.island--box,
.islet--box {
  background: $lighter-grey;
}