 @mixin margin-above($proportion: 1) {
    margin-top: $base-spacing-unit * $proportion;
}

@mixin margin-trailer($proportion: 1) {
    margin-bottom: $base-spacing-unit * $proportion;
}

@mixin padding-trailer($proportion: 1) {
    padding-bottom: $base-spacing-unit * $proportion;
}

@mixin font-size($font-size, $line-height: false) {
    font-size: $font-size;
    font-size: $font-size / $base-font-size * 1rem;
    @if $line-height {
        line-height: $line-height / $font-size;
    }
}

@function get-input-height($proportion: 1) {
    @return $base-input-height * $proportion;
}
 
@function px-to-em($val) {
    @return $val / $base-font-size * 1em;
}

@mixin breakpoint($media-query) {
    @media only screen and (max-width: $media-query) {
        @content;
    }
}

@mixin breakpoint-min($media-query) {
    @media only screen and (min-width: $media-query + 1px) {
        @content;
    }
}

@mixin breakpoint-between($min, $max) {
    @media only screen and (min-width: $min + 1px) and (max-width: $max) {
        @content;
    }
}

@mixin squish-text {
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
}

@mixin element-hidden {
    display: none;
}

@mixin fluid-grid($gutter) {
    margin-left: -(0.01202 * $gutter * $gutter / 1% + 0.98955 * $gutter + 0.01483%);
}

@mixin z-index($z-index, $position: relative) {
    z-index: $z-index * 100;
    position: $position;
}

@mixin shorten-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin space($space) {
    letter-spacing: $space;
}

// Grid Mixins (Flex)
// - Gutters
@mixin define-gutters($spacing) {
    margin-left: -$spacing;
    margin-right: -$spacing;
    .grid__item {
      padding-left: $spacing;
      padding-right: $spacing;
    }
}
@mixin define-gutter-bpclasses($key) {
    &.#{$key}gutter--thin      { @include define-gutters($gutter-thin); }
    &.#{$key}gutter--medium    { @include define-gutters($gutter-medium); }
    &.#{$key}gutter--default   { @include define-gutters($gutter-norm); }
    &.#{$key}gutter--wide      { @include define-gutters($gutter-wide); }
}

// - Justification
@mixin define-justify($key) {
    &.#{$key}just--start       { justify-content: flex-start; }
    &.#{$key}just--end         { justify-content: flex-end; }
    &.#{$key}just--center      { justify-content: center; }
    &.#{$key}just--around      { justify-content: space-around; }
    &.#{$key}just--between     { justify-content: space-between; }
}

// - Alignment
@mixin define-alignment($key) {
    &.#{$key}align--top        { align-items: flex-start; }
    &.#{$key}align--middle     { align-items: center; }
    &.#{$key}align--bottom     { align-items: flex-end; }
}

// - Order
@mixin define-order($key) {
    &.#{$key}first             { order: 1; }
    &.#{$key}last              { order: 2; }
}