
@mixin grid-setup($namespace: "") {
    // Whole
    .#{$namespace}one-whole, %#{$namespace}one-whole                         { width: 100%; flex-basis: 100%; }
    // Half
    .#{$namespace}one-half , %#{$namespace}one-half                          { width: 50%; flex-basis: 50%; }
    // Thirds
    .#{$namespace}one-third , %#{$namespace}one-third                        { width: 33.333%; flex-basis: 33.333%; }
    .#{$namespace}two-thirds, %#{$namespace}two-thirds                       { width: 66.666%; flex-basis: 66.666%; }
    // Quarters
    .#{$namespace}one-quarter, %#{$namespace}one-quarter                     { width: 25%; flex-basis: 25%; }
    .#{$namespace}two-quarters, %#{$namespace}two-quarters                   { width: 50%; flex-basis: 50%; }
    .#{$namespace}three-quarters, %#{$namespace}three-quarters               { width: 75%; flex-basis: 75%; }
    // Fifths
    .#{$namespace}one-fifth, %#{$namespace}one-fifth                         { width: 20%; flex-basis: 20%; }
    .#{$namespace}two-fifths, %#{$namespace}two-fifths                       { width: 40%; flex-basis: 40%; }
    .#{$namespace}three-fifths, %#{$namespace}three-fifths                   { width: 60%; flex-basis: 60%; }
    .#{$namespace}four-fifths, %#{$namespace}four-fifths                     { width: 80%; flex-basis: 80%; }
    // Sixths
    .#{$namespace}one-sixth, %#{$namespace}one-sixth                         { width: 16.666%; flex-basis: 16.666%; }
    .#{$namespace}two-sixths, %#{$namespace}two-sixths                       { width: 33.333%; flex-basis: 33.333%; }
    .#{$namespace}three-sixths, %#{$namespace}three-sixths                   { width: 50%; flex-basis: 50%; }
    .#{$namespace}four-sixths, %#{$namespace}four-sixths                     { width: 66.666%; flex-basis: 66.666%; }
    .#{$namespace}five-sixths, %#{$namespace}five-sixths                     { width: 83.333%; flex-basis: 83.333%; }
    // Eighths
    .#{$namespace}one-eighth, %#{$namespace}one-eighth                       { width: 12.5%; flex-basis: 12.5%; }
    .#{$namespace}two-eighths, %#{$namespace}two-eighths                     { width: 25%; flex-basis: 25%; }
    .#{$namespace}three-eighths, %#{$namespace}three-eighths                 { width: 37.5%; flex-basis: 37.5%; }
    .#{$namespace}four-eighths, %#{$namespace}four-eighths                   { width: 50%; flex-basis: 50%; }
    .#{$namespace}five-eighths, %#{$namespace}five-eighths                   { width: 62.5%; flex-basis: 62.5%; }
    .#{$namespace}six-eighths, %#{$namespace}six-eighths                     { width: 75%; flex-basis: 75%; }
    .#{$namespace}seven-eighths, %#{$namespace}seven-eighths                 { width: 87.5%; flex-basis: 87.5%;  }
    // Tenths
    .#{$namespace}one-tenth, %#{$namespace}one-tenth                         { width: 10%; flex-basis: 10%; }
    .#{$namespace}two-tenths, %#{$namespace}two-tenths                       { width: 20%; flex-basis: 20%; }
    .#{$namespace}three-tenths, %#{$namespace}three-tenths                   { width: 30%; flex-basis: 30%; }
    .#{$namespace}four-tenths, %#{$namespace}four-tenths                     { width: 40%; flex-basis: 40%; }
    .#{$namespace}five-tenths, %#{$namespace}five-tenths                     { width: 50%; flex-basis: 50%; }
    .#{$namespace}six-tenths, %#{$namespace}six-tenths                       { width: 60%; flex-basis: 60%; }
    .#{$namespace}seven-tenths, %#{$namespace}seven-tenths                   { width: 70%; flex-basis: 70%; }
    .#{$namespace}eight-tenths, %#{$namespace}eight-tenths                   { width: 80%; flex-basis: 80%; }
    .#{$namespace}nine-tenths, %#{$namespace}nine-tenths                     { width: 90%; flex-basis: 90%; }
    // Twelfths
    .#{$namespace}one-twelfth, %#{$namespace}one-twelfth                     { width: 8.333%; flex-basis: 8.333%; }
    .#{$namespace}two-twelfths, %#{$namespace}two-twelfths                   { width: 16.666%; flex-basis: 16.666%; }
    .#{$namespace}three-twelfths, %#{$namespace}three-twelfths               { width: 25%; flex-basis: 25%; }
    .#{$namespace}four-twelfths, %#{$namespace}four-twelfths                 { width: 33.333%; flex-basis: 33.333%; }
    .#{$namespace}five-twelfths, %#{$namespace}five-twelfths                 { width: 41.666%; flex-basis: 41.666%; }
    .#{$namespace}six-twelfths, %#{$namespace}six-twelfths                   { width: 50%; flex-basis: 50%; }
    .#{$namespace}seven-twelfths, %#{$namespace}seven-twelfths               { width: 58.333%; flex-basis: 58.333%; }
    .#{$namespace}eight-twelfths, %#{$namespace}eight-twelfths               { width: 66.666%; flex-basis: 66.666%; }
    .#{$namespace}nine-twelfths, %#{$namespace}nine-twelfths                 { width: 75%; flex-basis: 75%; }
    .#{$namespace}ten-twelfths, %#{$namespace}ten-twelfths                   { width: 83.333%; flex-basis: 83.333%; }
    .#{$namespace}eleven-twelfths, %#{$namespace}eleven-twelfths             { width: 91.666%; flex-basis: 91.666%; }
}

@mixin grid-offset($namespace: "") {
    // Half
    .#{$namespace}offset-one-half, %#{$namespace}offset-one-half             { margin-left: 50%; }
    // Thirds
    .#{$namespace}offset-one-third, %#{$namespace}offset-one-third           { margin-left: 33.333%; }
    .#{$namespace}offset-two-thirds, %#{$namespace}offset-two-thirds         { margin-left: 66.666%; }
    // Quarters
    .#{$namespace}offset-one-quarter, %#{$namespace}offset-one-quarter       { margin-left: 25%; }
    .#{$namespace}offset-two-quarters, %#{$namespace}offset-two-quarters     { margin-left: 50%; }
    .#{$namespace}offset-three-quarters, %#{$namespace}offset-three-quarters { margin-left: 75%; }
    // Fifths
    .#{$namespace}offset-one-fifth, %#{$namespace}offset-one-fifth           { margin-left: 20%; }
    .#{$namespace}offset-two-fifths, %#{$namespace}offset-two-fifths         { margin-left: 40%; }
    .#{$namespace}offset-three-fifths, %#{$namespace}offset-three-fifths     { margin-left: 60%; }
    .#{$namespace}offset-four-fifths, %#{$namespace}offset-four-fifths       { margin-left: 80%; }
    // Sixths
    .#{$namespace}offset-one-sixth, %#{$namespace}offset-one-sixth           { margin-left: 16.666%; }
    .#{$namespace}offset-two-sixths, %#{$namespace}offset-two-sixths         { margin-left: 33.333%; }
    .#{$namespace}offset-three-sixths, %#{$namespace}offset-three-sixths     { margin-left: 50%; }
    .#{$namespace}offset-four-sixths, %#{$namespace}offset-four-sixths       { margin-left: 66.666%; }
    .#{$namespace}offset-five-sixths, %#{$namespace}offset-five-sixths       { margin-left: 83.333%; }
    // Eighths
    .#{$namespace}offset-one-eighth, %#{$namespace}offset-one-eighth         { margin-left: 12.5%; }
    .#{$namespace}offset-two-eighths, %#{$namespace}offset-two-eighths       { margin-left: 25%; }
    .#{$namespace}offset-three-eighths, %#{$namespace}offset-three-eighths   { margin-left: 37.5%; }
    .#{$namespace}offset-four-eighths, %#{$namespace}offset-four-eighths     { margin-left: 50%; }
    .#{$namespace}offset-five-eighths, %#{$namespace}offset-five-eighths     { margin-left: 62.5%; }
    .#{$namespace}offset-six-eighths, %#{$namespace}offset-six-eighths       { margin-left: 75%; }
    .#{$namespace}offset-seven-eighths, %#{$namespace}offset-seven-eighths   { margin-left: 87.5%;  }
    // Tenths{ width: 10%; flex-basis: 10%; }
    .#{$namespace}offset-two-tenths, %#{$namespace}offset-two-tenths         { margin-left: 20%; }
    .#{$namespace}offset-three-tenths, %#{$namespace}offset-three-tenths     { margin-left: 30%; }
    .#{$namespace}offset-four-tenths, %#{$namespace}offset-four-tenths       { margin-left: 40%; }
    .#{$namespace}offset-five-tenths, %#{$namespace}offset-five-tenths       { margin-left: 50%; }
    .#{$namespace}offset-six-tenths, %#{$namespace}offset-six-tenths         { margin-left: 60%; }
    .#{$namespace}offset-seven-tenths, %#{$namespace}offset-seven-tenths     { margin-left: 70%; }
    .#{$namespace}offset-eight-tenths, %#{$namespace}offset-eight-tenths     { margin-left: 80%; }
    .#{$namespace}offset-nine-tenths, %#{$namespace}offset-nine-tenths       { margin-left: 90%; }
    // Twelfths
    .#{$namespace}offset-one-twelfth, %#{$namespace}offset-one-twelfth       { margin-left: 8.333%; }
    .#{$namespace}offset-two-twelfths, %#{$namespace}offset-two-twelfths     { margin-left: 16.666%; }
    .#{$namespace}offset-three-twelfths, %#{$namespace}offset-three-twelfths { margin-left: 25%; }
    .#{$namespace}offset-four-twelfths, %#{$namespace}offset-four-twelfths   { margin-left: 33.333%; }
    .#{$namespace}offset-five-twelfths, %#{$namespace}offset-five-twelfths   { margin-left: 41.666%; }
    .#{$namespace}offset-six-twelfths, %#{$namespace}offset-six-twelfths     { margin-left: 50%; }
    .#{$namespace}offset-seven-twelfths, %#{$namespace}offset-seven-twelfths { margin-left: 58.333%; }
    .#{$namespace}offset-eight-twelfths, %#{$namespace}offset-eight-twelfths { margin-left: 66.666%; }
    .#{$namespace}offset-nine-twelfths, %#{$namespace}offset-nine-twelfths   { margin-left: 75%; }
    .#{$namespace}offset-ten-twelfths, %#{$namespace}offset-ten-twelfths     { margin-left: 83.333%; }
    .#{$namespace}offset-eleven-twelfths, %#{$namespace}offset-eleven-twelfths { margin-left: 91.666%; }
}

@mixin grid-push($namespace: "") {
    // Whole
    .#{$namespace}push-one-whole, %#{$namespace}push-one-whole               { left: 100%; }
    // Half
    .#{$namespace}push-one-half , %#{$namespace}push-one-half                { left: 50%; }
    // Thirds
    .#{$namespace}push-one-third , %#{$namespace}push-one-third              { left: 33.333%; }
    .#{$namespace}push-two-thirds, %#{$namespace}push-two-thirds             { left: 66.666%; }
    // Quarters
    .#{$namespace}push-one-quarter, %#{$namespace}push-one-quarter           { left: 25%; }
    .#{$namespace}push-two-quarters, %#{$namespace}push-two-quarters         { left: 50%; }
    .#{$namespace}push-three-quarters, %#{$namespace}push-three-quarters     { left: 75%; }
    // Fifths
    .#{$namespace}push-one-fifth, %#{$namespace}push-one-fifth               { left: 20%; }
    .#{$namespace}push-two-fifths, %#{$namespace}push-two-fifths             { left: 40%; }
    .#{$namespace}push-three-fifths, %#{$namespace}push-three-fifths         { left: 60%; }
    .#{$namespace}push-four-fifths, %#{$namespace}push-four-fifths           { left: 80%; }
    // Sixths
    .#{$namespace}push-one-sixth, %#{$namespace}push-one-sixth               { left: 16.666%; }
    .#{$namespace}push-two-sixths, %#{$namespace}push-two-sixths             { left: 33.333%; }
    .#{$namespace}push-three-sixths, %#{$namespace}push-three-sixths         { left: 50%; }
    .#{$namespace}push-four-sixths, %#{$namespace}push-four-sixths           { left: 66.666%; }
    .#{$namespace}push-five-sixths, %#{$namespace}push-five-sixths           { left: 83.333%; }
    // Eighths
    .#{$namespace}push-one-eighth, %#{$namespace}push-one-eighth             { left: 12.5%; }
    .#{$namespace}push-two-eighths, %#{$namespace}push-two-eighths           { left: 25%; }
    .#{$namespace}push-three-eighths, %#{$namespace}push-three-eighths       { left: 37.5%; }
    .#{$namespace}push-four-eighths, %#{$namespace}push-four-eighths         { left: 50%; }
    .#{$namespace}push-five-eighths, %#{$namespace}push-five-eighths         { left: 62.5%; }
    .#{$namespace}push-six-eighths, %#{$namespace}push-six-eighths           { left: 75%; }
    .#{$namespace}push-seven-eighths, %#{$namespace}push-seven-eighths       { left: 87.5%; }
    // Tenths
    .#{$namespace}push-one-tenth, %#{$namespace}push-one-tenth               { left: 10%; }
    .#{$namespace}push-two-tenths, %#{$namespace}push-two-tenths             { left: 20%; }
    .#{$namespace}push-three-tenths, %#{$namespace}push-three-tenths         { left: 30%; }
    .#{$namespace}push-four-tenths, %#{$namespace}push-four-tenths           { left: 40%; }
    .#{$namespace}push-five-tenths, %#{$namespace}push-five-tenths           { left: 50%; }
    .#{$namespace}push-six-tenths, %#{$namespace}push-six-tenths             { left: 60%; }
    .#{$namespace}push-seven-tenths, %#{$namespace}push-seven-tenths         { left: 70%;}
    .#{$namespace}push-eight-tenths, %#{$namespace}push-eight-tenths         { left: 80%; }
    .#{$namespace}push-nine-tenths, %#{$namespace}push-nine-tenths           { left: 90%; }
    // Twelfths
    .#{$namespace}push-one-twelfth, %#{$namespace}push-one-twelfth           { left: 8.333%; }
    .#{$namespace}push-two-twelfths, %#{$namespace}push-two-twelfths         { left: 16.666%; }
    .#{$namespace}push-three-twelfths, %#{$namespace}push-three-twelfths     { left: 25%; }
    .#{$namespace}push-four-twelfths, %#{$namespace}push-four-twelfths       { left: 33.333%; }
    .#{$namespace}push-five-twelfths, %#{$namespace}push-five-twelfths       { left: 41.666%; }
    .#{$namespace}push-six-twelfths, %#{$namespace}push-six-twelfths         { left: 50%; }
    .#{$namespace}push-seven-twelfths, %#{$namespace}push-seven-twelfths     { left: 58.333%; }
    .#{$namespace}push-eight-twelfths, %#{$namespace}push-eight-twelfths     { left: 66.666%; }
    .#{$namespace}push-nine-twelfths, %#{$namespace}push-nine-twelfths       { left: 75%; }
    .#{$namespace}push-ten-twelfths, %#{$namespace}push-ten-twelfths         { left: 83.333%; }
    .#{$namespace}push-eleven-twelfths, %#{$namespace}push-eleven-twelfths   { left: 91.666%; }
}

@mixin grid-pull($namespace: "") {
     // Whole
     .#{$namespace}pull-one-whole, %#{$namespace}pull-one-whole              { left: -100%; }
     // Half
     .#{$namespace}pull-one-half , %#{$namespace}pull-one-half               { left: -50%; }
     // Thirds
     .#{$namespace}pull-one-third , %#{$namespace}pull-one-third             { left: -33.333%; }
     .#{$namespace}pull-two-thirds, %#{$namespace}pull-two-thirds            { left: -66.666%; }
     // Quarters
     .#{$namespace}pull-one-quarter, %#{$namespace}pull-one-quarter          { left: -25%; }
     .#{$namespace}pull-two-quarters, %#{$namespace}pull-two-quarters        { left: -50%; }
     .#{$namespace}pull-three-quarters, %#{$namespace}pull-three-quarters    { left: -75%; }
     // Fifths
     .#{$namespace}pull-one-fifth, %#{$namespace}pull-one-fifth              { left: -20%; }
     .#{$namespace}pull-two-fifths, %#{$namespace}pull-two-fifths            { left: -40%; }
     .#{$namespace}pull-three-fifths, %#{$namespace}pull-three-fifths        { left: -60%; }
     .#{$namespace}pull-four-fifths, %#{$namespace}pull-four-fifths          { left: -80%; }
     // Sixths
     .#{$namespace}pull-one-sixth, %#{$namespace}pull-one-sixth              { left: -16.666%; }
     .#{$namespace}pull-two-sixths, %#{$namespace}pull-two-sixths            { left: -33.333%; }
     .#{$namespace}pull-three-sixths, %#{$namespace}pull-three-sixths        { left:-50%; }
     .#{$namespace}pull-four-sixths, %#{$namespace}pull-four-sixths          { left:-66.666%; }
     .#{$namespace}pull-five-sixths, %#{$namespace}pull-five-sixths          { left:-83.333%; }
     // Eighths
     .#{$namespace}pull-one-eighth, %#{$namespace}pull-one-eighth            { left: -12.5%; }
     .#{$namespace}pull-two-eighths, %#{$namespace}pull-two-eighths          { left: -25%; }
     .#{$namespace}pull-three-eighths, %#{$namespace}pull-three-eighths      { left: -37.5%; }
     .#{$namespace}pull-four-eighths, %#{$namespace}pull-four-eighths        { left: -50%; }
     .#{$namespace}pull-five-eighths, %#{$namespace}pull-five-eighths        { left: -62.5%; }
     .#{$namespace}pull-six-eighths, %#{$namespace}pull-six-eighths          { left: -75%; }
     .#{$namespace}pull-seven-eighths, %#{$namespace}pull-seven-eighths      { left: -87.5%; }
     // Tenths
     .#{$namespace}pull-one-tenth, %#{$namespace}pull-one-tenth              { left: -10%; }
     .#{$namespace}pull-two-tenths, %#{$namespace}pull-two-tenths            { left: -20%; }
     .#{$namespace}pull-three-tenths, %#{$namespace}pull-three-tenths        { left: -30%; }
     .#{$namespace}pull-four-tenths, %#{$namespace}pull-four-tenths          { left: -40%; }
     .#{$namespace}pull-five-tenths, %#{$namespace}pull-five-tenths          { left: -50%; }
     .#{$namespace}pull-six-tenths, %#{$namespace}pull-six-tenths            { left: -60%; }
     .#{$namespace}pull-seven-tenths, %#{$namespace}pull-seven-tenths        { left: -70%; }
     .#{$namespace}pull-eight-tenths, %#{$namespace}pull-eight-tenths        { left: -80%; }
     .#{$namespace}pull-nine-tenths, %#{$namespace}pull-nine-tenths          { left: -90%; }
     // Twelfths
     .#{$namespace}pull-one-twelfth, %#{$namespace}pull-one-twelfth          { left: -8.333%; }
     .#{$namespace}pull-two-twelfths, %#{$namespace}pull-two-twelfths        { left: -16.666%; }
     .#{$namespace}pull-three-twelfths, %#{$namespace}pull-three-twelfths    { left: -25%; }
     .#{$namespace}pull-four-twelfths, %#{$namespace}pull-four-twelfths      { left: -33.333%; }
     .#{$namespace}pull-five-twelfths, %#{$namespace}pull-five-twelfths      { left: -41.666%; }
     .#{$namespace}pull-six-twelfths, %#{$namespace}pull-six-twelfths        { left: -50%; }
     .#{$namespace}pull-seven-twelfths, %#{$namespace}pull-seven-twelfths    { left: -58.333%; }
     .#{$namespace}pull-eight-twelfths, %#{$namespace}pull-eight-twelfths    { left: -66.666%; }
     .#{$namespace}pull-nine-twelfths, %#{$namespace}pull-nine-twelfths      { left: -75%; }
     .#{$namespace}pull-ten-twelfths, %#{$namespace}pull-ten-twelfths        { left: -83.333%; }
     .#{$namespace}pull-eleven-twelfths, %#{$namespace}pull-eleven-twelfths  { left: -91.666%; }
}

@include grid-setup;
@include grid-offset;
@include grid-push;
@include grid-pull;

// Push and Pull class modifiers require relative positioning on the element
[class*="pull-"],
[class*="push-"] { position: relative; }

@each $key, $value in $breakpoints {
    @if $value {
        @media only screen and (min-width: #{$value + 1px}) {
            @include grid-setup("#{$key}-");
            @include grid-offset("#{$key}-");
            @include grid-push( "#{$key}-");
            @include grid-pull( "#{$key}-");
        }
    }
}